<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<title>Retry</title>
		<link rel="stylesheet" href="/stylesheets/index.css" />
	</head>
	<body>
		<br /><br />
		<h1><%= errorMessage %></h1>
		<form id="login" action="/login" method="post" onsubmit="return formLoginSubmit()">
			<fieldset>
				<legend>Login</legend>
				<div><label class="left">Username:</label><input class="right" name="username" type="text" maxlength="50" required /></div>
				<div><label class="left">Password:</label><input class="right" name="password" type="password" maxlength="32" required /></div>
				<div class="buttons"><button type="submit">Login</button></div>
			</fieldset>
		</form>
	</body>
</html>
