div#buttons {
	text-align: center;
}

button {
	position: relative;
	width: 108px;
	background-color: #40C080;
	border: 0;
	border-radius: 3px;
	font-size: 1.2em;
	color: white;
	margin: 0;
	transition: background-color 0.3s;
}

button:hover:not(.pushed) {
	top: 1px;
	cursor: pointer;
	background-color: #80FFB0;
}

button:active:not(.pushed) {
	top: 2px;
	background-color: #208040;
	outline: none;
}

button.pushed {
	background-color: #208040;
}
